DRY_RUN=true
SYMBOL=SOLUSDT
INTERVAL=1h
INITIAL_QUOTE=1000
SUPABASE_URL=https://qrhxiwbfcbemixbxhjmc.supabase.co
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DD_API_KEY=
DD_SITE=datadoghq.com
